<section class="termtrans_new">
  <form ng-submit="createTermAndTranslation(newTermAndTranslationForm)" name="newTermAndTranslationForm" novalidate class="form-horizontal" role="form">
    <div class="panel panel-default">
      <div class="panel-heading">New term and translation</div>

      <table class="table">
        <thead>
          <th>Term</th>
          <th>Translation type</th>
          <th>Translation</th>
          <th>Examples</th>
        </thead>
        <tbody>
          <tr>
            <td ng-class="{'has-error': newTermAndTranslationForm.term.$invalid && (newTermAndTranslationForm.term.$touched || newTermAndTranslationForm.$submitted) }">
              <input required type="text" name="term" ng-model="termAndTranslation.term" class="form-control" placeholder="Name of the term"/>
              <div class="error-container" ng-show="newTermAndTranslationForm.term.$invalid && (newTermAndTranslationForm.$submitted || newTermAndTranslationForm.term.$touched)" ng-cloak ng-messages="newTermAndTranslationForm.term.$error">
                <div ng-messages-include="partials/error_list.html"></div>
              </div>
            </td>
            <td ng-class="{'has-error': newTermAndTranslationForm.type.$invalid && (newTermAndTranslationForm.type.$touched || newTermAndTranslationForm.$submitted) }">
              <input required type="text" name="type" ng-model="termAndTranslation.type" class="form-control" placeholder="Type of translation"/>
              <div class="error-container" ng-show="newTermAndTranslationForm.type.$invalid && (newTermAndTranslationForm.$submitted || newTermAndTranslationForm.type.$touched)" ng-cloak ng-messages="newTermAndTranslationForm.type.$error">
                <div ng-messages-include="partials/error_list.html"></div>
              </div>
            </td>
            <td ng-class="{'has-error': newTermAndTranslationForm.translation.$invalid && (newTermAndTranslationForm.translation.$touched || newTermAndTranslationForm.$submitted) }">
              <input required type="text" name="translation" ng-model="termAndTranslation.translation" class="form-control" placeholder="Translation"/>
              <div class="error-container" ng-show="newTermAndTranslationForm.translation.$invalid && (newTermAndTranslationForm.$submitted || newTermAndTranslationForm.translation.$touched)" ng-cloak ng-messages="newTermAndTranslationForm.translation.$error">
                <div ng-messages-include="partials/error_list.html"></div>
              </div>
            </td>
            <td ng-class="{'has-error': newTermAndTranslationForm.example.$invalid && (newTermAndTranslationForm.example.$touched || newTermAndTranslationForm.$submitted) }">
              <input required type="text" name="example" ng-model="termAndTranslation.example" class="form-control" placeholder="Example of translation"/>
              <div class="error-container" ng-show="newTermAndTranslationForm.example.$invalid && (newTermAndTranslationForm.$submitted || newTermAndTranslationForm.example.$touched)" ng-cloak ng-messages="newTermAndTranslationForm.example.$error">
                <div ng-messages-include="partials/error_list.html"></div>
              </div>
            </td>
            <td class="text-center"><button type="submit" class="btn btn-primary">Save</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</section>
