<!DOCTYPE html>

<id id="term__new">
  <header>
    <h1>New term:</h1>
  </header>
  <section>
    <form ng-submit="createTerm(termForm)" name="termForm" novalidate class="form-horizontal">
      <div class="form-group" ng-class="{'has-error': termForm.name.$invalid && (termForm.name.$touched || termForm.$submitted) }">
        <label class="col-sm-2 control-label">
          Name
        </label>
        <div class="col-sm-10">
          <input vt-validation type="text" name="name" ng-model="term.name" required class="form-control" placeholder="Name of the term" tabindex="1"/>
          <div class="error-container" ng-show="termForm.name.$invalid && (termForm.$submitted || termForm.name.$touched)" ng-cloak ng-messages="termForm.name.$error">
            <div ng-messages-include="partials/error_list.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" tabindex="2">Save</button>
        </div>
      </div>

    </form>
  </section>
</id>
