<!DOCTYPE html>

<section class="term__list">
  <header>
    <h2>Terms:</h2>
  </header>
  <ul>
    <li ng-repeat="term in terms">
      <a ui-sref="termDetail({termId: term.id})">{{ term.name }}</a>
    </li>
    <li ng-if="terms.length === 0">
      <strong>No terms found...</strong>
    </li>
  </ul>
</section>
