<!DOCTYPE html>

<div id="term__detail">
  <header>
    <h1>Term {{term.name}}</h1>
  </header>

  <section ng-show="term.translations.length > 0" class="panel panel-default">
    <form name="updateTranslationForm" novalidate class="form-horizontal" role="form">
      <div class="panel panel-default">
        <div class="panel-heading">Translations</div>

        <table class="table">
          <thead>
            <th>Type</th>
            <th>Translation</th>
            <th>Examples</th>
            <th></th>
          </thead>
          <tbody>

            <tr
              ng-repeat-start="translation in translations"
              ng-hide="statesUpdating[translation.id]">
              <td ng-bind="translation.type"></td>
              <td ng-bind="translation.translation"></td>
              <td ng-bind="translation.example"></td>
              <td ng-hide="statesRemoving[translation.id]">
                <span ng-click="toggleUpdate(translation.id)" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span ng-click="toggleRemove(translation.id)" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </td>
              <td ng-show="statesRemoving[translation.id]">
                <button ng-click="removeTranslation(translation)" type="submit" class="btn btn-primary">Are you sure?</button>
                <span ng-click="toggleRemove(translation.id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </td>
            </tr>

            <tr
              ng-repeat-end
              ng-show="statesUpdating[translation.id]">
              <td ng-class="{'has-error': updateTranslationForm['type_' + translation.id].$invalid}">
                <input required type="text" name="type_{{translation.id}}" ng-model="translationsShadow[$index].type" class="form-control" placeholder="Type of translation"/>
                <div class="error-container" ng-cloak ng-messages="updateTranslationForm['type_' + translation.id].$error">
                  <div ng-messages-include="partials/error_list.html"></div>
                </div>
              </td>
              <td ng-class="{'has-error': updateTranslationForm['translation_' + translation.id].$invalid}">
                <input required type="text" name="translation_{{translation.id}}" ng-model="translationsShadow[$index].translation" class="form-control" placeholder="Translation"/>
                <div class="error-container" ng-cloak ng-messages="updateTranslationForm['translation_' + translation.id].$error">
                  <div ng-messages-include="partials/error_list.html"></div>
                </div>
              </td>
              <td ng-class="{'has-error': updateTranslationForm['example_' + translation.id].$invalid}">
                <input required type="text" name="example_{{translation.id}}" ng-model="translationsShadow[$index].example" class="form-control" placeholder="Example of translation"/>
                <div class="error-container" ng-cloak ng-messages="updateTranslationForm['example_' + translation.id].$error">
                  <div ng-messages-include="partials/error_list.html"></div>
                </div>
              </td>
              <td>
                <button ng-click="updateTranslation(translationsShadow[$index], updateTranslationForm)" type="submit" class="btn btn-primary">Save</button>
                <span ng-click="toggleUpdate(translation.id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </section>

  <section>
    <form ng-submit="createTranslation(newTranslation, term, newTranslationForm)" name="newTranslationForm" novalidate class="form-horizontal" role="form">
      <div class="panel panel-default">
        <div class="panel-heading">New translation</div>

        <table class="table">
          <thead>
            <th>Type</th>
            <th>Translation</th>
            <th>Examples</th>
          </thead>
          <tbody>
            <tr>
              <td ng-class="{'has-error': newTranslationForm.type.$invalid && (newTranslationForm.type.$touched || newTranslationForm.$submitted) }">
                <input required type="text" name="type" ng-model="newTranslation.type" class="form-control" placeholder="Type of translation"/>
                <div class="error-container" ng-show="newTranslationForm.type.$invalid && (newTranslationForm.$submitted || newTranslationForm.type.$touched)" ng-cloak ng-messages="newTranslationForm.type.$error">
                  <div ng-messages-include="partials/error_list.html"></div>
                </div>
              </td>
              <td ng-class="{'has-error': newTranslationForm.translation.$invalid && (newTranslationForm.translation.$touched || newTranslationForm.$submitted) }">
                <input required type="text" name="translation" ng-model="newTranslation.translation" class="form-control" placeholder="Translation"/>
                <div class="error-container" ng-show="newTranslationForm.translation.$invalid && (newTranslationForm.$submitted || newTranslationForm.translation.$touched)" ng-cloak ng-messages="newTranslationForm.translation.$error">
                  <div ng-messages-include="partials/error_list.html"></div>
                </div>
              </td>
              <td ng-class="{'has-error': newTranslationForm.example.$invalid && (newTranslationForm.example.$touched || newTranslationForm.$submitted) }">
                <input required type="text" name="example" ng-model="newTranslation.example" class="form-control" placeholder="Example of translation"/>
                <div class="error-container" ng-show="newTranslationForm.example.$invalid && (newTranslationForm.$submitted || newTranslationForm.example.$touched)" ng-cloak ng-messages="newTranslationForm.example.$error">
                  <div ng-messages-include="partials/error_list.html"></div>
                </div>
              </td>
              <td class="text-center"><button type="submit" class="btn btn-primary">Save</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </section>
</div>
